<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>

    <div class="container">
        <div class="jumbotron text-center">
            <h2>Create Account</h2>
            <div>
                <form action="/register" method="POST" autocomplete="off">
                    <div class="form-group">
                        <label class="pull-left" for="usr">Username</label>
                        <input name="new_username" type="text" placeholder="Username" class="form-control" id="usr"
                            required>
                    </div>
                    <div class="form-group">
                        <label class="pull-left" for="pwd">Password</label>
                        <input name="new_password" type="password" placeholder="Password" class="form-control" id="pwd"
                            required>
                    </div>
                    <div class="msg">{{ msg }}</div>
                    <hr />
                    <div class="form-group">
                        <div class="d-flex justify-content-center links">
                            <button class="btn btn-primary" type="submit">Register</button>
                        </div>
                        <hr />
                        <div class="d-flex justify-content-center links">
                            <a href="{{ url_for('login') }}" class="btn btn-danger">Back</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</body>

</html>